<div class="container">
    <div class="table-page">
        <header class="header">
            {{> logo }}

            <div class="header__right-block">
                <h1 class="title">Админ панель</h1>

                <a class="logout-svg" href="/auth/logout">
                    <img src="/images/logout.svg" alt="">
                </a>
            </div>
        </header>

        <main class="table-block">
            <a href="/admin/users">Назад</a>
            <h2 class="title">Пользователь <b>{{user.username}}</b></h2>

            <form id="form">
                <div class="input-block__text__with-label">
                    <label for="username">Имя пользователя</label>
                    <input type="text" id="username" value="{{user.username}}">
                </div>
                <div class="input-block__text__with-label">
                    <label for="lastName">Фамилия</label>
                    <input type="text" id="lastName" value="{{user.lastName}}">
                </div>
                <div class="input-block__text__with-label">
                    <label for="firstName">Имя</label>
                    <input type="text" id="firstName" value="{{user.firstName}}">
                </div>
                <div class="input-block__checkbox__with-label">
                    <label for="isActive">Активный</label>
                    <input type="checkbox" id="isActive" {{#if user.isActive}}checked{{/if}}>
                </div>
                <div class="input-block__checkbox__with-label">
                    <label for="isAdmin">Админ</label>
                    <input type="checkbox" id="isAdmin" {{#if user.isAdmin}}checked{{/if}}>
                </div>

                <div class="buttons-block">
                    <button type="button" class="green-button button_w-auto" id="update-button">Обновить</button>
                    {{!-- <button type="button" class="red-button" id="delete-button">Удалить</button> --}}
                </div>
            </form>

            <div class="admin__statistic-block">
                <h3>Статистика</h3>

                <p>Напечатано файлов: <span>{{user.ordersStatistic.printedFilesCount}}</span></p>
                <p>Напечатано страниц: <span>{{user.ordersStatistic.printedPagesCount}}</span></p>

                <form class="admin__statistic-date-form">
                    <h4>Сортировать:</h4>

                    <div class="admin__statistic-date-form__input-block">
                        <label for="sort-time_start">От: </label>

                        {{#if user.ordersStatistic.sortTime.start}}
                        <input type="date" id="sort-time_start" name="sortTime_start"
                            value="{{user.ordersStatistic.sortTime.start}}">
                        {{else}}
                        <input type="date" id="sort-time_start" name="sortTime_start">
                        {{/if}}
                    </div>

                    <div class="admin__statistic-date-form__input-block">
                        <label for="sort-time_end">До: </label>

                        {{#if user.ordersStatistic.sortTime.end}}
                        <input type="date" id="sort-time_end" name="sortTime_end"
                            value="{{user.ordersStatistic.sortTime.end}}">
                        {{else}}
                        <input type="date" id="sort-time_end" name="sortTime_end">
                        {{/if}}
                    </div>

                    <button type="submit" class="main-button button_w-auto">Показать</button>
                </form>
            </div>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название файла</th>
                            <th>Кол-во стр.</th>
                            <th>Дата</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each user.orders}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td><a href="/admin/orders/{{this.id}}">{{this.file.originalName}}</a></td>
                            <td>{{this.file.pages}}</td>
                            <td>{{this.createDate}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script async src="/admin-user.js"></script>