<div class="container">
    <div class="table-page">
        <header class="header">
            <a href="/" class="logo">
                <img src="/images/mai.svg" alt="МАИ" class="logo__image">
                <span class="logo__title">Принтер 307</span>
            </a>

            <div class="header__right-block">
                <div class="user-svg">
                    <img src="/images/user.svg" alt="">
                </div>

                <h1 class="title">{{user.lastName}} {{user.firstName}}</h1>

                <a class="logout-svg" href="/auth/logout">
                    <img src="/images/logout.svg" alt="">
                </a>
            </div>
        </header>

        <main class="table-block">
            <form action="" class="file-form" id="file-form">
                {{!-- <label for="file-input" class="uploaded-label" id="file-input-label"> --}}
                    <label for="file-input" class="" id="file-input-label">
                        <img src="/images/download.png" alt="">
                        <span>Выберите файл в формате PDF</span>
                        <button type="submit" class="main-button button">Отправить</button>
                    </label>
                    <input type="file" name="file" id="file-input" class="file-input" accept=".pdf">
            </form>

            <div>
                <h2 class="title">Текущие задачи:</h2>

                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название файла</th>
                            <th>Напечатано страниц</th>
                            <th>Статус</th>
                            <th>Дата</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>
                                <a href="/api/files/{{this.file.id}}/download">{{this.file.originalName}}</a>
                            </td>
                            <td>{{this.pagesPrinted}}</td>
                            <td>{{this.status}}</td>
                            <td>{{this.createDate}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div>
                <h2 class="title">Мои файлы:</h2>

                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название файла</th>
                            <th>Cтраниц</th>
                            <th>Дата</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each files}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>
                                <a href="/api/files/{{this.id}}/download">{{this.originalName}}</a>
                            </td>
                            <td>{{this.pages}}</td>
                            <td>{{this.createDate}}</td>
                            <td><button type="button">Напечатать</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script async src="/account.js"></script>